@import '../../../../styles/colors';
@import '../../sidebar.style.variables';

.side-menu-item-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  padding: 9px $side-container-padding;
  &:hover {
    cursor: pointer;
    background-color: #3b404e;
  }
  &.side-menu-item-active {
    color: $primary-text-active-color;
    .side-menu-item-icon mv-icon svg path {
      stroke: $primary-text-active-color;
    }
  }
}
