@import '../../styles/colors';

mv-icon {
  display: block;
  width: fit-content;
  height: fit-content;
  .span-svg-wrap {
    max-width: 100px;
    max-height: 100px;

    svg {
      max-width: 100px;
      max-height: 100px;
    }
    &.mv-icon-active {
      svg {
        path, circle, ellipse {
          stroke: $primary-text-active-color;
        }
      }
    }
  }
}
