@import '../../styles/colors';

:host {
  display: flex;
  height: 100vh;
  background-color: $primary-background-color;
  overflow: hidden;
}

.client-page--container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: auto;
}
