
$primary-background-color: #16181E;
$secondary-background-color: #21242D;

$primary-text-color: #F9F9F9;
$seconady-text-color: #16181E;
$primary-text-active-color: #00B9AE;

$sidebar-menu-title-color: #F9F9F9AB;
