@import "../../../../../../styles/variables";

.recommended-list-item--container {
  background-repeat: no-repeat;
  background-size: cover;
  width: 220px;
  height: 330px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  &-cover {
    transition: all $transition-card;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(22, 24, 30, 0) 0%, rgba(22, 24, 30, 0.7) 61.28%), linear-gradient(0deg, rgba(22, 24, 30, 0.4), rgba(22, 24, 30, 0.4));
    z-index: 1;
    opacity: 0;
  }

  &:hover {
    .recommended-list-item--container-cover {
      opacity: 1;
    }
    .recommended-list-item--header {
      top: 0;
    }
    .recommended-list-item--footer {
      bottom: 0;
    }
  }

  .recommended-list-item--header,
  .recommended-list-item--footer {
    position: relative;
    z-index: 4;
  }

  .recommended-list-item--header {
    position: relative;
    top: -50%;
    padding: 20px 20px 0 20px;
    font-weight: 800;
    font-size: 18px;
    transition: all $transition-card;
  }

  .recommended-list-item--footer {
    position: relative;
    bottom: -50%;
    transition: all $transition-card;
    padding: 0 10px 10px 10px;

    .recommended-list-item-footer--buttons {
      display: flex;
      gap: 10px;
      mv-button-watch-now {
        flex-grow: 1;
      }
    }
  }
}
