@import '../../styles/colors';

:host {
  background-color: $secondary-background-color;
  height: 100vh;
  width: 250px;
  min-width: 250px;
  color: $primary-text-color;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sidebar-content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 50px;
}
